@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,800&display=swap');
:root{
    --heading-font: "Inter";
}

body {
    margin: 50px 200px 10px 200px;
    font-family: var(--heading-font);
}

/*flex sections*/
header {
    display: flex;
}
.container {
    display: flex;
}
.writeup {
    display: flex;
    margin-right: 50px;
}
.containerL {
    display: flex;
    margin-right: 50px;
    margin-top: 20px;
}


/* images*/
.icon {
    width: 55px;
    height: 30px;
}
.blocks {
    width:740px;
    height: 250px;
}
.small_pic {
    width: 80px;
    height: 100px;
}

/*header*/
header{
    padding-top: 20px;
    padding-bottom: 30px;
}
nav {
    /*margin-left: 100px;*/
    margin-left: 620px;
    color: hsl(236, 13%, 42%);
}
.menu{
    margin-left: 21px;
}


/*layout*/

.sidePanel {
    margin: 0px 0px 0px 5px;
    background-color: hsl(240, 100%, 5%);
    color: white;
    margin-bottom: 40px;
    padding: 0px 18px 20px 18px;
}
.wrapL {
    margin-right: 45px;
    margin-bottom: -50px;
}
.wrap{
   margin-right: 20px;
}


/*text*/

.question {
    margin-right: 180px;
    font-size: 45px;
    color: hsl(240, 100%, 5%);
}
.smallText {
    margin-left: -70px;
    margin-right: -45px;
    display: inline;
    color: hsl(236, 13%, 42%);
    
}
.intro_text {
    margin-bottom: 40px;
}
#third {
    margin-right: -5px;
}
.numbers{
    margin-top: -5px;
    margin-left: 15px;
    color:  hsl(233, 8%, 79%);
}
.title{
    margin-left: 15px;
    margin-top: -18px;
    color: hsl(240, 100%, 5%);
    font-weight: bold;
}
.description{
    margin-left: 15px;
    margin-top: -3px;
    color: hsl(236, 13%, 42%);
}
.under{
    margin-top: -16px;
}
button{
    background-color: hsl(5, 85%, 63%);
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    color: hsl(36, 100%, 99%);
    letter-spacing: 4px;
}
.new{
    color: hsl(35, 77%, 62%);
}
.p{
    font-size: 15px;
}
.bold{
    color: hsl(36, 100%, 99%);
    font-weight: bold;
}
.note{
    color: hsl(233, 8%, 79%);
}